body{
    background-color: #f7f7f7;
    font-family: "Helvetica Neue", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
    font-size: 100%;
}
.container{
    position: relative;
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    margin-top: 45px;
    box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
    .container {
      width: 85%;
      padding: 0; 
      margin-top: 45px;
    }
}
@media (min-width: 550px) {
.container {
    width: 80%; 
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: #222222;
      }
    img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
    }
    img:hover {
    opacity: 1;
    }
}

ul{
    margin-top: 4px;
    /* font-size:90%; */
}

h2,h3,h4,h5,h6{
    margin-bottom: 0;
    font-weight: 500;
    /* font-family: 'Cinzel', serif; */
}

h1,h2{
    display: inline;
}

/* table {
    border-spacing: 1em .5em;
    padding: 0 2em 1em 0;
} */

.grid-container{
    display: grid;
    grid-gap: 10px 10px;
}

a:link{
    color:DodgerBlue;
}
a:visited{
    color:RoyalBlue
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
table tr {
    border-bottom: 1px solid
}
table th, table td {
    padding: 10px 20px;
}